<!DOCTYPE html>
<html>
	<head>
		<title>$appsubject[subject]</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
		<link rel="stylesheet" type="text/css" href="template/2/css/info_content.css" />
		<script type="text/javascript" src="template/2/js/myAll.js"></script>
		      <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
     <script type="text/javascript" src="template/js/jquery.tmpl.min.js"></script>
     <script type="text/javascript" src="template/js/detail.js"></script>

      <script id="detailTemplate" type="text/x-jquery-tmpl">
 <header data-role="header" data-tap-toggle="false" data-theme="none">
				<div class="title"><!--{BLOCK_TAG_START}-->if industry<!--{BLOCK_TAG_END}-->
                 <p> {{= industry.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                  <!--{BLOCK_TAG_START}-->if branch<!--{BLOCK_TAG_END}-->
                 <p> {{= branch.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                    <!--{BLOCK_TAG_START}-->if development<!--{BLOCK_TAG_END}-->
                 <p> {{= development.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if product<!--{BLOCK_TAG_END}-->
                 <p> {{= product.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if introduce<!--{BLOCK_TAG_END}-->
                 <p> {{= introduce.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if cases<!--{BLOCK_TAG_END}-->
                 <p> {{= cases.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if talk<!--{BLOCK_TAG_END}-->
                 <p> {{= branch.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if job<!--{BLOCK_TAG_END}-->
                 <p> {{= job.subject}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}--></div>
				<div class="time"><!--{BLOCK_TAG_START}-->if industry<!--{BLOCK_TAG_END}-->
                 <p> {{= industry.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                  <!--{BLOCK_TAG_START}-->if branch<!--{BLOCK_TAG_END}-->
                 <p> {{= branch.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                    <!--{BLOCK_TAG_START}-->if development<!--{BLOCK_TAG_END}-->
                 <p> {{= development.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if product<!--{BLOCK_TAG_END}-->
                 <p> {{= product.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if introduce<!--{BLOCK_TAG_END}-->
                 <p> {{= introduce.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if cases<!--{BLOCK_TAG_END}-->
                 <p> {{= cases.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if talk<!--{BLOCK_TAG_END}-->
                 <p> {{= branch.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                 <!--{BLOCK_TAG_START}-->if job<!--{BLOCK_TAG_END}-->
                 <p> {{= job.dateline}}</p>
                 <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}--></div>
			</header>
</script>
 <script id="commentTemplate" type="text/x-jquery-tmpl">
 <li>
								<span class="name">{{= author}}:</span>
								<span class="comment_content">
									{{= message}}
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
</script>
	</head>

	<body>
		<div data-role="page">
			<div id="detail-panel">

       </div>
       <div data-role="content">
                <div class="content_text">
           <div class="content_pic" style="font-size:14px!important;">
           
                              $message
             </div>
                </div><!-- content_text -->
 </div>
				

				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name="" id="review"></textarea>
						</div> <!-- comment_text --> 
						<a href="#" onclick="cpComment($('#idtype').val(), $('#id').val(), $('#review').val())">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 

				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
						 <div id="comment-panel">

       </div>	
						
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->
				 <input type="hidden" id="wxkey" name="wxkey" value="$_GET[wxkey]"/>
    <input type="hidden" id="id" name="id" value="$_GET[id]"/>
    <input type="hidden" id="idtype" name="idtype" value="$_GET[idtype]"/>
    <input type="hidden" id="type" name="type" value="$_GET[type]"/>
    <input type="hidden" id="uid" name="uid" value="$_GET[uid]"/>
    <input type="hidden" id="page" name="page" value="0"/>
    <input type="hidden" id="perpage" name="perpage" value="5"/>
			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
