<!DOCTYPE html>
<html>
  <head>
    <title>v5v5v5v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
    <link rel="stylesheet" type="text/css" href="./template/default/file_beauty.css">
    <link type='text/css' href='./template/default/basic_chosen.css' rel='stylesheet' media='screen' />
    <style type="text/css">
       h3{color: #727272;margin-top: 20px;font-weight:normal;}
       .selected{ -webkit-box-shadow: 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px;}
  
      .bg1{ background: url("./template/default/image/chosen_bg.png");}
      .open{ background: url("./template/default/image/chosen_bg2.png")!important;}
      .open .price{color:#3EB2B8!important;}
    </style>
  </head>

  <body>

    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-inner container_36">
                <a class="logo grid_1" href="space.php?do=businessfeed" style="background:none;"><img src="./template/default/image/logo.png"></a>
                <a href="#" class="grid_5" style="float:right;color:#BDBEBF;padding-right:10px;">帮助</a>
             </div>
         </div>
         <!-- navbar end -->
         <form action = "space.php?do=menuset" method = "post">
          <div class="content_wrapper" style="margin-left:auto;margin-right:auto;width:925px;">
            <div class="content" style="width:925px;">
             
                <img src="./template/default/image/guide_chosen.png" style="margin:20px 110px;">

                 <div class="content_detail_wrapper" style="color:#939393;">
                      <div class="container_12 assembly">
                           
                           
                           
                            
                         123333333333333333333333333333333333333333322222222222222
                         2111111111111111111111111111111111111111111111111
                         33433333333333333333333333333333333333333331222222222222123243544645
                         1234565787654312234567897654321345678976543212345678
                       
                     <input type="hidden" name="cheak" value="1">
                     <div class="confirm_btn container_12" style="padding-left:400px;">
                           <input type="submit" class="btn grid_2"></a>
                      </div>
                 </div><!-- content_detail_wrapper end -->
               
                </form>
            </div>
              
          </div><!-- content_wrapper end -->
    </div><!-- wrraper end -->
 

 
   <!--{template footer}-->
   

</div>
    
    
    <!--<script src="./source/bootstrap.min.js"></script>-->
  </body>
</html>